{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0ad2cb78b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div id="pageHeader" class="jumbotron overflow-auto">
        <center><h1>Flatbrowser</h1></center>
    </div>
    {% block content %} {% endblock %}
</body>
</html>