{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Flatbrowser {% endblock %}

{% block content %}
    <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
                <div id="infoMessage" class="alert alert-light" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div id = "infoCard" class="card">
            <img src={% static 'main/home_image.jpg' %} class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Flatbrowser</h5>
                <p class="card-text">Aplikacja, która pozwala przeszukiwać wiele stron oferujących mieszkania w celu szybszego znalezienia własnego kąta.</p> 
                <p class="card-text">Użyj formularza po prawej stronie, aby wyszukać określić parametry wyszukiwania. Zarejestruj się, aby móc zapisywać mieszkania na liście obserwowanych.</p>
            </div>
            {% if user.is_authenticated %}

            {% else %}
            <div class="card-body">
                <a href="/login" class="card-link">Zaloguj się</a>
                <a href="/register" class="card-link">Zarejestruj się</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}