{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Flatbrowser {% endblock %}

{% block content %}
    <div class="col-md-8">
        <div id = "homeCard" class="card" style="">
            <img src={% static 'main/home_image.jpg' %} class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Flatbrowser</h5>
                <p class="card-text">Application that enables you researching many websites in order to find your dream home. Use form on your right to search for  </p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Login</a>
                <a href="#" class="card-link">Register</a>
            </div>
        </div>
    </div>
{% endblock %}