{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Flatbrowser| Obserwowane {% endblock %}

{% block content %}
    <div class="col-md-8">
        {% if flats_found|length == 0 %}
            <div id = "infoCard" class="card" style="">
                <img src={% static 'main/no_offers.jpg' %} class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nie znaleziono ofert!</h5>
                    <p class="card-text">Spróbuj innych parametrów wyszukiwania.</p> 
                </div>
            </div>
        {% else %}           
           {% for flat in flats_found %}
                <div id="offerCard" class="card mb-10 text-center">
                    <div class="row">
                        <div class="col-md-5 ">
                            <img id="offerPicture" class="card-img rounded" src="{{flat.image}}"/>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col">
                                    <h5 id="offerCity" class="card-text text-left">{{flat.city}}</h5> 
                                </div>
                                <div class="col">
                                    {% if flat.site == "otodom.pl" %}
                                        <img id="offerSite" src="{% static 'main/otodom.png' %}" class="pull-right">
                                    {% elif flat.site == "morizon.pl" %}
                                        <img id="offerSite" src="{% static 'main/morizon.png' %}" class="pull-right">
                                    {% elif flat.site == "allegro.pl" %}
                                        <img id="offerSite" src="{% static 'main/allegro.png' %}" class="pull-right">
                                    {% endif %}                    
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 id="offerTitle" class="card-text text-left">{{flat.title}}</h5>
                                </div>
                            </div>                   
                            <div class="row">
                                <div class="col">
                                    {% if flat.site == "allegro.pl" %}
                                        <p id="offerArea" class="card-text">- m<sup>2</p>
                                    {% else %}
                                        <p id="offerArea" class="card-text">{{flat.area}} m<sup>2</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <p id="offerPrice" class="card-text">{{flat.price}} zł</p>
                                </div>
                                <div class="col">
                                    <a id="offerButton" href="{{flat.url}}" target="_blank" class="btn btn-warning"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div> 
{% endblock %}