body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif  !important;
  }

#navigationBar{
    font: bold;
}

#infoMessage {
    margin-top: 30px; 
    margin-left: 300px;
    width: 48rem;
    color: black !important;
}

#countMessage {
  max-width: 920px; 
  margin-top: 30px;
  margin-left: 100px;
  color: black !important;
  font-size: 20px;
}

#infoCard {
    margin-top: 30px; 
    margin-left: 300px;
    width: 48rem;
}

#searchForm {
    margin-top: 30px;
    position: fixed;
    z-index: 1;
}

#offersCount {
    margin-left: 100px;
    color: whitesmoke;
}
#offerCard {
    max-width: 920px; 
    max-height: 270px; 
    margin-top: 30px; 
    margin-right: 20px; 
    margin-bottom: 30px; 
    margin-left: 100px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: thick;
}

#offerPicture {
    max-width: 430px; 
    height: 260px; 
    object-fit: cover;
}

#offerTitle {
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 50px; 
    margin-right: 20px;
}

#offerCity {
    margin-top: 25px;
    margin-left: 50px; 
    margin-right: 20px;
}

#offerSite { 
  margin-top: 20px;
  margin-left: 50px; 
  margin-right: 20px;
  max-width: 170px;
  height:auto;
  float:right
}

#offerArea {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

#offerPrice {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

#offerButton {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#hollowHeartButton {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black !important;
}

#fullHeartButton {
  margin-top: 30px;
  margin-bottom: 10px;
  color: red !important;
}